.header-container {
  display: flex;
  justify-content: space-between;
}
.logo-and-title-container {
  display: flex;
  margin: 15px;
}

.nav-items-list {
  list-style-type: none;
  display: flex;
  justify-content: space-around;
  margin-right: 15px;
  margin-top: 28px;
  font-family: 'roboto';
}
.link-item {
  display: flex;
  justify-content: space-between;
  margin-right: 15px;
}

.logo {
  height: 35px;
  width: 45px;
  margin-top: 10px;
}

.title {
  font-family: 'roboto';
  font-weight: bold;
  margin-left: 8px;
  font-size: 22px;
}
